**/__pycache__/
/datasets/
/dataset_generator/
/checkpoints/laneatt_0.pt
/checkpoints/laneatt_5.pt
/model_animation.py
/media
/dist
/laneatt.egg-info
setup.py
setup.cfg.idea/
*.pyc
__pycache__/
*.egg-info/
.idea/**
**/*.png
**/**/*.avi
*.avi
**/photos/**
**/*.mp4
