**/__pycache__/
/datasets/
/checkpoints/laneatt_20.pt
/checkpoints/laneatt_25.pt
/checkpoints/laneatt_30.pt
/checkpoints/laneatt_35.pt
/checkpoints/laneatt_40.pt
/checkpoints/laneatt_45.pt
/checkpoints/laneatt_50.pt
/checkpoints/laneatt_55.pt
/checkpoints/laneatt_60.pt
/checkpoints/laneatt_65.pt